html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0;
  padding: 0;
}
/* ======== ESTILO GENERAL ======== */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  margin: 0;
  color: #333;
}

h2, h3 {
  color: #333;
}

/* ======== HEADER ======== */
header.landing {
  background-color: #7F99B7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 1%;
}

header.landing img {
  height: 5%;
}

header.landing h1 {
  font-size: 1.2em;
  font-weight: bold;
  color: #1e2a33;
  margin-right:5%;
}

header.landing nav a {
  text-decoration: none;
  color: white;
  background-color: #7d8e9a;
  padding: 6px 14px;
  border-radius: 3px;
  margin-left: 6px;
  font-size: 0.9em;
}

header.landing nav a:hover {
  background-color: #66757f;
}

/* ======== PORTADA PRINCIPAL ======== */
.landing-intro {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.landing-intro img {
  width: 100%;
  height: 10%; 
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.landing-intro div {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

.landing-intro h2 {
  margin: 0;
  font-size: 1.1em;
}

.landing-intro p {
  margin: 5px 0 0 0;
  font-size: 0.9em;
}

/* ======== SECCIÓN: QUÉ ES ======== */
.landing-Sobre {
  background-color: #ffffff;
  padding: 25px 30px;
  text-align: left;
}

.landing-Sobre h2 {
  margin-top: 0;
  font-size: 1.1em;
}

.landing-Sobre-contenido div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  max-width: 80%;
  margin: 0 auto;
}

.landing-Sobre-contenido img {
  width: 40%;
  height: auto;
}
.landing-Sobre-contenido p{
  max-width: 40%;
  text-align: center;
  line-height: 1.5;
  font-size: 1em;
  color: #333;
}

/* ======== SECCIÓN: POR QUÉ ELEGIRNOS ======== */
.landing-Elegirnos {
  background-color: #f2e5ce; 
  text-align: center;
  padding: 1%;
  border-radius: 4px;
  margin-left:15%;
  margin-right:15%;
  margin-bottom:2%;
}

.landing-Elegirnos h2 {
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 1%;
  color: #222;
}

.landing-Elegirnos ul {
  list-style: disc;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 0.5%; 
  max-width: 30%;
  margin: 0 auto;
  text-align: left; 
  padding-left: 0.5%;
  
}

/* Ítems de la lista */
.landing-Elegirnos li {
  font-size: 0.95em;
  line-height: 1.6;
  color: #000;
}

/* Agrega el ícono de reciclaje solo al primer ítem */
.landing-Elegirnos li:first-child::after {
  content: " ♻️";
}


/* ======== SECCIÓN: PRODUCTOS DESTACADOS ======== */
.landing-ProduDestacados {
  background-color: #f2e3ce;
  padding: 20px 30px;
  text-align: center;
}

.landing-ProduDestacados h2 {
  font-size: 1em;
  margin-bottom: 15px;
}

.landing-ProduDestacados div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.landing-ProduDestacados article {
  background-color: #ffffff;
  border-radius: 5px;
  width: 170px;
  padding: 10px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.landing-ProduDestacados img {
  width: 100%;
  border-radius: 4px;
}

.landing-ProduDestacados h3 {
  font-size: 0.9em;
  margin: 5px 0;
}

.landing-ProduDestacados p {
  font-size: 0.8em;
  margin: 0;
}

/* ======== SECCIÓN FINAL ======== */
.landing-arribaFooter {
  background-color: #ffffff;
  text-align: center;
  padding: 25px 10px;
}

.landing-arribaFooter p {
  font-size: 0.95em;
  margin-bottom: 10px;
}

.landing-arribaFooter a {
  background-color: #8bb78b;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.landing-arribaFooter a:hover {
  background-color: #77a277;
}

/* ======== FOOTER ======== */
footer {
  background-color: #d6dbcf;
  text-align: center;
  padding: 10px;
  font-size: 0.8em;
  color: #333;
}


.header-login {
    background-color: #7F99B7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 1%;
  }

  .headerlogin h1 {
    font-size: 1.2em;
    font-weight: bold;
    color: #1e2a33;
    margin-right:5%;
}

.login-box div h2 
{
  color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-box div form
{
  background-color: white; 
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.login-box div form label, input
{
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;

}

.fotito {
  background-image: url("wwwroot/imagenes/fotito.jpg");
}

.registrate div p
{
  color: #333;
  font-size: larger;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.registrate div a
{
  background-color: A8BBA2;
  margin-left: 5%;
  margin-right: 5%;
}